/* IDEA: index styling starts here */

body {
  background-color: #97eb6a;
}

.jumbotron {
  height: 100%;
  width: 100%;
}

strong.cont {
  padding-left: 200px;
}

#header {
  height: 300px;
  width: 350px;
}

img.landingpage {
  height: 300px;
  width: 300px;
  border: 5px solid grey;
}

img.landingpage:hover {
  opacity: 0.8;
  transform: scale(1.1, 1.1);
}


/* IDEA: about styling starts here */

#interests, #education, #family {
  width: 420px;
  height: 1200px;
}

#imageofaboutme {
  width: 380px;
  height: 100px;
}


/* IDEA: contacts styling starts here */

#slidingpics {
  width: 500px;
  height: 380px;
}

.carousel-inner img {
  margin: auto;
}
